.work{
  padding-top: 80px;
}
.work__actions{
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 32px;
}

@media (max-width: 980px){
  .work__actions{
    margin-bottom: 55px;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 600px){
  .work__actions{
    grid-template-columns: repeat(1,1fr);
  }
  .work {
    padding-top: 56px;
  }
}