.input__block{
  position: relative;
  padding-bottom: 20px; 
}
.input,.input__value{
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
  border: 2px solid var(--color-100-grey);
  border-radius: 4px;
  font-size: 18px;
  line-height: 178%;
  color: var(--color-dark-grey);
}
.input{
  background: var(--color-100-grey);
}
.input__value{
  background-color: #fff;
}
.input__error{
  border-color: var(--color-red);
}
.input__icon{
  position: absolute;
  right: 10px;
  top: 15px;
}
.label{
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 18px;
  line-height: 178%;
  color: var(--color-500-grey);
  transition: transform .2s ease-in-out;
}
.input:focus ~ .label {
  transform: translateY(-10px); 
  font-size: 14px; 
  color: var(--color-400-grey);
}
.label__filled{
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 14px; 
  color: var(--color-400-grey);
}
.input:focus{
  outline: none;
}
.desc__error{
  color: var(--color-red);
}