.start{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 960px;
  background-image: url(../../assets/images/backgound.png);
  background-position: center;
}
.start__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 748px;
}
.start__content-title{
  margin-bottom: 18px;
}
.start__content-desc{
  margin-bottom: 92px;
}