.card{
  display: flex;
  flex-direction: column;
}
.card__image{
  width: 72px;
  height: 72px;
}
.card__text{
  font-weight: 600;
  line-height: 150%;
  color: var(--color-dark-grey);
}
.card__desc{
  line-height: 171%;
  color: var(--color-500-grey);
  font-size: 14px;
}
@media (max-width: 600px){
.card{
  flex-direction: row;
  gap: 16px;
}
}