.work{
  padding-top: 80px;
}
.work__actions{
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4,280px);
  gap: 32px;
}
.card{
  display: flex;
  flex-direction: column;
}
.card__image{
  width: 72px;
  height: 72px;
}
.card__text{
  font-weight: 600;
  line-height: 150%;
  color: #191c1f;
}
.card__desc{
  line-height: 171%;
  color: #5e646a;
  font-size: 14px;
}
