footer{
  display: flex;
  justify-content: center;
  padding: 27px;
  border-top: 1px solid var(--color-100-grey);
}
.copyright{
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: var(--color-dark-grey);
}