@font-face {
  font-family: "Graphik LCG"; 
  src: url("./assets/fonts/GraphikLCG-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
} 
@font-face {
  font-family: "Graphik LCG"; 
  src: url("./assets/fonts/GraphikLCG-Medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 600; 
} 
:root{
  --color-dark-blue: #2a6cea;
  --color-light-blue: #397dff;
  --color-red: #F13636;
  --color-dark-grey: #191C1F;
  --color-500-grey: #5E646A;
  --color-400-grey: #83898F;
  --color-300-grey: #C2C8CD;
  --color-200-grey: #ECEFF2;
  --color-100-grey: #F6F8FA;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Graphik LCG", serif;
}
.container{
  max-width: 1184px;
  padding: 0 16px;
  margin: 0 auto;
}
.title{
  margin-bottom: 61px;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: var(--color-dark-grey);
}
@media (max-width: 768px){
  .title{
    margin-bottom: 47px;
  }
}
@media (max-width: 375px){
  .title{
    font-size: 24px;
    margin-bottom: 26px;
  }
}